*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc


#ignore devops stuff
ops/.vagrant/
ops/puppet/ssh/
ops/puppet/ssl/
ops/puppet/modules/apt/
ops/puppet/modules/concat/
ops/puppet/modules/firewall/
ops/puppet/modules/postgresql/
ops/puppet/modules/ruby/
ops/puppet/modules/stdlib/