<li>
<%= content_tag(:p, user.name) %>
<p><%= link_to image_tag(user.image.thumb.url), user.image_url %></p>
<p> <%= link_to 'delete',
                user_path(user),
                method: :delete,
                data: { confirm: 'Are you sure?' }
                %>
</li>